[Desktop Entry]
Name=Software Manager
Comment=Install new applications (store)
Keywords=program;software;store;repository;package;add;install;uninstall;remove;apps;applications;games;flatpak;
Exec=mintinstall
Icon=mintinstall
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;XFCE;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
NotShowIn=KDE;
StartupNotify=true
